<h1>Create a New Report - Student Lateness</h1>

<select name="rosters" id="roster-drop-down">
  <option value=""></option>
  <% current_staff_member.rosters.each do |roster| %>
  <option value= <%= roster.id %>><%= roster.title %> </option>

  <% end %>

</select>
<%= form_tag(referrals_path) do |f| %>

  <%= render partial: 'date' %>

  <div class="form-group">
    <%= label_tag(:period) %>: <br />
    <%= text_field_tag("referral[period]", nil, class:"form-control") %><br />
  </div>

  <div class="form-group">
    <%= label_tag("Minutes (optional)") %>: <br />
    <%= text_field_tag("referral[minutes]") %><br />

  </div>

  <%= hidden_field_tag("referral[positive?]", "false", class:"form-control text-area-input") %><br />
  <%= hidden_field_tag("referral[referral_type]", "tardy", class:"form-control text-area-input") %><br />
  <%= hidden_field_tag("referral[staff_member_id]", current_staff_member.id, class:"form-control text-area-input") %><br />

  <div class="form-group" id="student-list">
    <%= render partial: 'student_checklist' %>
  </div>

  <%= submit_tag("Submit") %>
<% end %>
