<h1>Create a New Report - Uniform Violation</h1>

<select name="rosters" class="roster-drop-down">
  <option value="-1"></option>
  <% current_staff_member.rosters.each do |roster| %>
    <option value= <%= roster.id %>><%= roster.title %> </option>
  <% end %>
</select>

<%= form_tag(referrals_path) do |f| %>

  <%= render partial: 'date' %>

  <div class="form-group">
    <%= label_tag(:period) %>: <br />
    <%= text_field_tag("referral[period]", nil, class:"form-control") %><br />
  </div>

  <div class="hidden">
    <%= hidden_field_tag("referral[positive?]", "false") %><br />
    <%= hidden_field_tag("referral[referral_type]", "uniform") %><br />
    <%= hidden_field_tag("referral[anecdotal]", "Student was out of uniform.") %><br />
    <%= hidden_field_tag("referral[staff_member_id]", current_staff_member.id, class:"form-control text-area-input") %><br />
  </div>

  <div class="form-group student-checklist">
    <%= render partial: 'student_checklist' %>
  </div>

  <%= submit_tag("Submit") %>
<% end %>
