<div class="col-lg-6 col-md-6 visible-md visible-lg visible-sm visible-xs clementine-content" id="referral-page">
  <div id="referral-navigation-tabs">
    <button class="btn btn-lg btn-success referral-tab" id="commendation">Acclaim</button>
    <button class="btn btn-lg btn-danger referral-tab" id="referral">Referral</button>
    <button class="btn btn-lg btn-warning referral-tab" id="uniform">Uniform</button>
    <button class="btn btn-lg btn-primary referral-tab" id="tardy">Tardy</button>

  </div>

  <div id="negative-referral-form">
    <%= render partial: 'negative' %>
  </div>
  <div id="positive-referral-form" style="display:none">
    <%= render partial: 'positive' %>
  </div>
  <div id="tardy-referral-form" style="display:none">
    <%= render partial: 'tardy' %>
  </div>
  <div id="uniform-referral-form" style="display:none">
    <%= render partial: 'uniform' %>
  </div>
</div>

<% if !!current_staff_member %>
  <%= render partial: 'activity_feed' %>
<% end %>
