<h1>Create a New Referral</h1>

<%= form_tag(new_referral_path) do |f| %>
  <%= label_tag(:student_name) %>:
  <%= text_field_tag(:student_name) %><br />

  <%= label_tag(:date) %>:
  <%= date_field(:referral, :date) %><br />

  <%= label_tag(:bullying_or_threatening_behavior) %>:
  <%= check_box_tag("infractions[]", :bullying_or_threatening_behavior) %><br />
  <%= label_tag(:inappropriate_sexual_behavior) %>:
  <%= check_box_tag("infractions[]", :inappropriate_sexual_behavior) %><br />
  <%= label_tag(:vandalism) %>:
  <%= check_box_tag("infractions[]", :vandalism) %><br />
  <%= label_tag(:insubordination) %>:
  <%= check_box_tag("infractions[]", :insubordination) %><br />
  <%= label_tag(:profanity) %>:
  <%= check_box_tag("infractions[]", :profanity) %><br />
  <%= label_tag(:disrupting_the_educational_process) %>:
  <%= check_box_tag("infractions[]", :disrupting_the_educational_process) %><br />

  <%= label_tag(:anecdotal) %>:
  <%= text_field_tag(:anecdotal) %><br />




  <%= submit_tag("Submit") %>
<% end %>
